// colors

$white-color:#fff;
$blue-color:#2965d4;
$orange-color:#ff7300;
$light-gray:#f8f5f5;
$dark-blue:#10108f;
$black-color:#000;
$gray-color:#586368;
$dark-white-color:#e6e7e7;
$dark-gray-color:#3c4043;
$light-blue-color:#e8f0fe;




// box-shadow
$box-shadow:1px 3px 5px grey;


// border and radius
$border-radius:10px;
$border-radius-50:50%;
$border:1px solid rgba(196, 192, 192,0.5);


// screen size

$extra-small-devices-max:600px;
$small-devices-max:768px;
$medium-devices-max:991px;
$large-devices-max:1199px;
$extra-large-device-min:1200px;


// $min-mobile-devices:320px;
// $max-mobile-devices:480px;
// $min-ipads-devices:481px;
// $max-ipads-devices:768px;
// $min-small-screen-laptop:769px;
// $max-small-screen-laptop:1024px;
// $min-large-screen-laptop:1025px;
// $max-large-screen-laptop:1200px;
// $extra-large-screen:1201px
